<md-dialog flex=50 aria-label="{{::ctrl.title}}">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span>{{::ctrl.title}}</span>
      </h3>
    </div>
  </md-toolbar>
  <md-dialog-content layout-margin>
    <p>{{::ctrl.description}}</p>

    <pr-date-time-picker
      id="date3"
      label="'Initial date'"
      ng-model="globalCtrl.dataWithTime3"
      max-date="globalCtrl.maxDate"
      with-time="true"
      click-to-show-in-field="false">
    </pr-date-time-picker>

    <pr-date-time-picker
      id="date4"
      label="'Initial date'"
      ng-model="globalCtrl.dataWithTime4"
      max-date="globalCtrl.maxDate"
      with-time="true"
      click-to-show-in-field="false">
    </pr-date-time-picker>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-raised md-primary" ng-click="ctrl.close()">Exit</md-button>
  </md-dialog-actions>
</md-dialog>
